# AI API Configuration
GEMINI_API_KEY=AIzaSyBs8TSrvvw4GeNmXlTUYN1OOcMsxjA_K1E

# Supabase Configuration
SUPABASE_URL=https://zzthllzsbwlongthunxx.supabase.co
SUPABASE_ANON_KEY=sb_publishable_dNhbGy2yQKTMsypExdkHVQ_CIKMeJx7
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp6dGhsbHpzYndsb25ndGh1bnh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2OTE4MjY2NSwiZXhwIjoyMDg0NzU4NjY1fQ.efRLGTiFRHHTdAFlauQcCW4DbZrRb81RhG-kWUXhSSI
SUPABASE_ACCESS_TOKEN=sbp_197280debc1e8aecee631f6d5bb68fcde7f36ade
SUPABASE_PROJECT_ID=BIwAI 

# Server Configuration
PORT=3001
API_PREFIX=api/v1
